[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master    
[submodule "zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master    
[submodule "zsh-vi-mode"]
	path = .oh-my-zsh-custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
	branch = master    
[submodule "powerlevel10k"]
	path = .oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
	branch = master    
[submodule "time-tracker"]
	path = .oh-my-zsh-custom/plugins/time-tracker
	url = https://github.com/mike-fam/time-tracker-plugin
	branch = main    

